/* File: static/css/bug_tales.css - Description here */

/* File: ./static/css/bug_tales.css - Description here */
#bug-tales {
  background: rgb(15 15 15 / 90%);
  border: 1px solid #334155;
}

#bug-tales button {
  font-family: system-ui, sans-serif;
  font-weight: 600;
  color: white;
}
