.panel {
  background: rgb(0 255 255 / 5%);
  border: 1px solid #0ff3;
  transition: all 0.3s ease-in-out;
}

.panel:hover {
  background: rgb(0 255 255 / 12%);
  box-shadow:
    0 0 10px #0ff,
    0 0 20px #0ff4;
  transform: scale(1.02);
}
