{# templates/components/utility_modals.html – Forgemaster Utility Modals #}

<section id="utility-modals"
         data-section="modals"
         aria-hidden="true"
         data-test="section-modals"
         class="relative z-[60] pointer-events-none">

  {% include "components/quick_view_modal.html" %}
  {% include "components/vault_popup.html" %}
  {% include "components/vault_copilot.html" %}
  {% include "components/section_skeleton.html" %}
  {% include "components/command_palette.html" %}
  {% include "components/back_to_top.html" %}
  {% include "components/sticky_header.html" %}
  {% include "components/skip_nav.html" %}
  {% include "components/navbar.html" %}

</section>

